.homepage {
  .card {
    padding-top: 10px;
    img {
      width: 100%;
      height: 230px;
      object-fit: scale-down;
      object-position: 50% 50%;
    }
    .card-body {
      .card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.productpage {
  img {
    width: 100%;
    height: 400px;
    object-fit: scale-down;
    object-position: 50% 50%;
  }
  .dropdown {
    display: inline-block;
  }
}
.error {
  padding: 10px;
  color: red;
  text-align: center;
}
